{% extends 'base.html' %}
{% load bootstrap4 %}
{% load customtags %}

{% block breadcrumbs %}
    {% breadcrumb "Players" %}
{% endblock %}

{% block content %}
    <h1>
        <i class="fas fa-user-circle mr-2"></i>
        {% block title %}Players{% endblock %}
    </h1>
    {% if object_list %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Race times</th>
            </tr>
            </thead>
            <tbody>
            {% for player in object_list %}
                <tr>
                    <th scope="row"><a href="{% url 'players:detail' player.id %}">{{ player }}</a></th>
                    <td>{{ player.racetime_set.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% bootstrap_pagination page_obj %}
    {% else %}
        <p>No players are available.</p>
    {% endif %}
{% endblock %}